<div class="container">
  <form [formGroup]="dynamicArrayForm">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Dynamic Html Using Angular Form Array</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6">    
        <label>Code Type</label>
        <select class="form-control" formControlName="codetype">
          <option value="">--Select--</option>
          <option value="Service Code">Service Code</option>
          <option value="Cpt Code">Cpt Code</option>
          <option value="Erp Code">Erp Code</option>
          <option value="Service Code">Service Code</option>
        </select>
      </div>
      <div class="col-sm-6">
        <label>Code Value</label>
        <input class="form-control" type="text" formControlName="codevalue">
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-12">
      <div class="col-sm-4"></div>
      <div class="col-sm-1"></div>
      <div class="col-sm-1"></div>
      <div class="col-sm-1">
        <button  class="text-center btn btn-success">Add</button>
      </div>
      <div class="col-sm-5"></div>
    </div>

  </div>
</form>
</div>